<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}} Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="startbootstrap-creative-1.0.2/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="startbootstrap-creative-1.0.2/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="startbootstrap-creative-1.0.2/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="startbootstrap-creative-1.0.2/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- My CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" href="#home">home</a>
              </li>
              <li>
                  <a class="page-scroll" href="#projects">Projects</a>
              </li>
              <li>
                  <a class="page-scroll" href="#about">About</a>
              </li>
              <li>
                  <a class="page-scroll" href="#contact">Contact</a>
              </li>
          </ul>
      </div>
    <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <header>
      <div id="home" class="header-content">
          <div class="header-content-inner">
              <h1>Dan Tabion</h1>
              <hr>
              <p>Full stack web developer, musician, and fly fisherman</p>
              <a href="#projects" class="btn btn-primary btn-xl page-scroll">Go To Projects</a>
          </div>
      </div>
  </header>



    <!-- SKILLS & PROJECTS -->
    <section class="bg-primary fix-padding" id="projects">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">SKILLS & PROJECTS</h2>
            <hr class="light">
          </div>
        </div>

        <!-- LIST SKILLS IN THIS CONTAINER -->
        <div class="container-fluid">


          <div class="row no-gutter">

            <!-- SKILLS COLUMN 1 -->
            <div class="col-lg-4 col-sm-4 text-center project-margins">
              <p class="skill-category">FRONTEND</p>
              <ul class="skill-list">
                <li>Javascript/JQuery</li>
                <li>HTML5/CSS3</li>
                <li>LESS/SASS</li>
                <li>Materialize/Bootstrap</li>
                <li>Angular.js</li>
              </ul>
            </div>

            <!-- SKILLS COLUMN 2 -->
            <div class="col-lg-4 col-sm-4 text-center project-margins">
              <p class="skill-category">BACKEND</p>
              <ul class="skill-list">
                <li>Ruby/Sinatra/Rails</li>
                <li>Express.js/Node.js</li>
                <li>Active Record/postgresql</li>
                <li>Mongo/Mongoose</li>
              </ul>
            </div>

            <!-- SKILLS COLUMN 3 -->
            <div class="col-lg-4 col-sm-4 text-center project-margins">
              <p class="skill-category">TOOLS</p>
              <ul class="skill-list">
                <li>Git/Github</li>
                <li>Chrome Dev Tools</li>
              </ul>
            </div>


          </div>
          <!-- END SKILLS ROW -->

        </div>
        <!-- END SKILLS CONTAINER -->


      </div>

      <!-- PROJECTS CONTAINER -->
      <div class="container-fluid">
        <div class="row no-gutter">

            <!-- PROJECT -->
            <div class="col-lg-6 col-sm-6 project-margins">
                <div class="portfolio-box">
                    <img  src="startbootstrap-creative-1.0.2/img/portfolio/MapMaster.jpg" class="img-responsive project-border" alt="">
                    <div class="portfolio-box-caption project-border">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                MAP MASTER
                            </div>
                            <div class="project-description">
                              <div><strong>Under Construction</strong><br><br>A game to practice geography skills.<br><br></div>
                              <div>
                                <a class="project-links" target="_blank" href="https://github.com/dctabion/map-master"><i class="fa fa-github" aria-hidden="true"></i> See Code</a>
                                <!-- <a class="project-links" target="_blank" href="https://morning-scrubland-42645.herokuapp.com/volunteers/register">See progress here</a> -->
                                <a class="project-links" target="_blank" href="https://map-master.herokuapp.com/">Check out progress!</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PROJECT -->
            <div class="col-lg-6 col-sm-6 project-margins">
                <div class="portfolio-box">
                    <img  src="startbootstrap-creative-1.0.2/img/portfolio/SCB.jpg" class="img-responsive project-border" alt="">
                    <div class="portfolio-box-caption project-border">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                SAM COCKRELL BAND
                            </div>
                            <div class="project-description">
                              <div><strong>Under Construction</strong><br><br>A responsive site created using Bootstrap 3</div>
                              <div>
                                <a class="project-links" target="_blank" href="https://github.com/dctabion/scb_website"><i class="fa fa-github" aria-hidden="true"></i> See Code</a>
                                <!-- <a class="project-links" target="_blank" href="https://morning-scrubland-42645.herokuapp.com/volunteers/register">See progress here</a> -->
                                <a class="project-links" target="_blank" href="https://samcockrellband.herokuapp.com/">View the site!</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PROJECT -->
            <div class="col-lg-6 col-sm-6 project-margins">
                <div class="portfolio-box">
                    <img  src="startbootstrap-creative-1.0.2/img/portfolio/TheWelcomeNet.jpg" class="img-responsive project-border" alt="">
                    <div class="portfolio-box-caption project-border">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                THE WELCOME NET
                            </div>
                            <div class="project-description">
                              <div>I'm currently working for "The Welcome Net", a non-profit organization in NW Indiana that provides assistance to new immigrants and refugees.<br><br>I'm creating a portal to manage their volunteer process. The app features a configurable/dynamic registration form. Also planned are integrations with Paypal and MailChimp. A second deployment is used for development & testing to prevent pollution of the production database and to keep the production deployment live.</div>
                              <div>
                                <a class="project-links" target="_blank" href="https://github.com/dctabion/the-welcome-net"><i class="fa fa-github" aria-hidden="true"></i> See Code</a>
                                <!-- <a class="project-links" target="_blank" href="https://morning-scrubland-42645.herokuapp.com/volunteers/register">See progress here</a> -->
                                <a class="project-links" target="_blank" href="https://mighty-fortress-72388.herokuapp.com/">Check out progress!</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PROJECT -->
            <div class="col-lg-6 col-sm-6 project-margins">
                <div class="portfolio-box">
                    <img  src="startbootstrap-creative-1.0.2/img/portfolio/FlashNotes.jpg" class="img-responsive project-border" alt="">
                    <div class="portfolio-box-caption project-border">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                FLASH NOTES
                            </div>
                            <div class="project-description">
                              <div>Flash Notes is a musical note reading flash card game that allows teachers to remotely monitor student progress. It was really exciting to use some new technologies outside of what we learned in class. I started by researching and testing out technologies like the Web MIDI API, Web Audio API, and web drawing and animation techniques. From there, it was a matter of integrating what I learned from these explorations with the skills we developed in class.</div>
                              <div><br>TECHNOLOGIES USED: Express.js/Node.js, Ajax, Custom API, Web MIDI API, Web Audio API, CSS Transitions.</div>
                              <div>
                                <a class="project-links" target="_blank" href="https://github.com/dctabion/note-reading-tutor"><i class="fa fa-github" aria-hidden="true"></i> See Code</a>
                                <a class="project-links" target="_blank" href="http://morning-beach-79584.herokuapp.com/">Try the app!</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="row no-gutter">


              <div class="col-lg-6 col-sm-6 project-margins">
                <div class="portfolio-box">
                      <img src="startbootstrap-creative-1.0.2/img/portfolio/RoachRage.jpg" class="img-responsive project-border" alt="">
                      <div class="portfolio-box-caption project-border">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  ROACH RAGE
                              </div>
                              <div class="project-description">
                                  A javascript video game
                              </div>
                              <div>
                                <a class="project-links" target="_blank" href="https://github.com/dctabion/roach_rage"><i class="fa fa-github" aria-hidden="true"></i> See Code</a>
                                <a class="project-links" target="_blank" href="https://roach-rage.herokuapp.com/">Squash those bugs!</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="col-lg-6 col-sm-6 project-margins">
                  <div class="portfolio-box">
                      <img src="startbootstrap-creative-1.0.2/img/portfolio/TheSpecialist.jpg" class="img-responsive project-border" alt="">
                      <div class="portfolio-box-caption project-border">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  The Specialist
                              </div>
                              <div class="project-description">
                                  Crowd sourced listing of restaurant/bar specials and happy hours.  Our team of 4 people built and deployed this in 4 days.  I focused on developing the API to manage storing and retreiving data and deployment.<br><br>
                                  The app will display specials in your area that users have submitted within a 10km radius.<br><br>
                                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                  Note: You will probably not see any specials unless you are in the River North neighborhood of Chicago. Currently database is only seeded with data in that location.  You must register and add some data for your area to see the app in action.
                              </div>
                              <div>
                                <a class="project-links" target="_blank" href="https://github.com/dctabion/VenueSpecials"><i class="fa fa-github" aria-hidden="true"></i> See Code</a>
                                <a class="project-links" target="_blank" href="http://secret-journey-4811.herokuapp.com/">Try the app!</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="col-lg-12 col-sm-12 project-margins">
                  <div class="portfolio-box">
                      <img src="startbootstrap-creative-1.0.2/img/portfolio/DudeWheresMyCar.jpg" class="img-responsive project-border" alt="">
                      <div class="portfolio-box-caption project-border">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  <br>Dude, Where's My Car?
                              </div>
                              <div class="project-description">
                                  Search Chicago city data to find out if your car is towed and which lot it is in.  This was a paired programming assignment.  My focus was on the backend and deployment.
                              </div>
                              <div>
                                <a class="project-links" target="_blank" href="https://github.com/GA-TBD/car_finder"><i class="fa fa-github" aria-hidden="true"></i> See Code</a>
                                <a class="project-links" target="_blank" href="https://lit-harbor-54917.herokuapp.com/" ><i class="fa fa-frown-o" aria-hidden="true"></i> Check if your car is towed!</a>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>

          <div class="row no-gutter text-center">
            <a href="#about" class="btn btn-default btn-xl page-scroll more-about-me">More about me</a>
          </div>
      </div>
    </section>

    <section class="bg-dark" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">ABOUT</h2>
                    <hr class="light">
                    <br>
                    <h4 class="text-faded">WHAT I DO</h4>
                    <p class="text-faded">I've been extremely fortunate to pursue childhood passions into adulthood. Although I didn't make the NBA (let's face it, I didn't even have a chance!) I still code, play music, and fly-fish.</p>
                    <p class="text-faded">I am a process oriented web developer who thrives on client interaction. I love to identify a client's needs/problems and come up with technology solutions to simplify their life. I enjoy team building, client management/education, and requirements definition while displaying a tireless work ethic, meticulous attention to detail, and ability for creative problem solving.</p>
                    <br>
                    <h4 class="text-faded">A STEP BACK IN TIME</h4>
                    <p class="text-faded">As a child, one of my obsessions was programming. By seventh grade with the help of some books from the library, a subscription to A+ magazine, and the Apple IIc technical reference manual, I started writing my own video games in assembly language and was helping to teach our school's computer class. Fresh out of engineering school I joined the workforce as a sofware engineer.  However, over the course of 7 year I slowly transitioned to being fully engaged in the Chicago music scene in which I've worked for nearly the last decade.</p>
                    <p class="text-faded">Following an inkling that I would return to my technical roots, I enrolled in the General Assemble Web Development Immersive which has reconnected me with the joy of turning ideas into something concrete that a user can interact with to do something useful or fun.</p>

                    <a href="#projects" class="btn btn-default btn-xl page-scroll">See what I've created!</a>
                </div>
            </div>
        </div>
    </section>


    <!-- CONTACT -->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr class="primary">
                    <p>Drop me a line if you have any questions or comments!</p>
                </div>
                <div class="row">
                  <div class="col-lg-3 text-center">
                  </div>
                  <div class="col-lg-3 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+1.847.899.2100</p>
                  </div>
                  <div class="col-lg-3 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <br>
                    <a href="mailto:dctabion@gmail.com">dctabion@gmail.com</a>
                  </div>
                  <div class="col-lg-12 text-center contact-links">
                      <a target="_blank" href="https://www.dropbox.com/s/ew80vqyx8c5nt3k/ResumeDCTabion.pdf?dl=0  "><i class="fa fa-file-o" aria-hidden="true"></i> Download resume</a><br>
                      <a target="_blank" href="https://www.linkedin.com/in/dctabion"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linked In</a><br>
                      <a target="_blank" href="https://github.com/dctabion"><i class="fa fa-github" aria-hidden="true"></i> Github</a><br>
                  </div>
                </div>

            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="startbootstrap-creative-1.0.2/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="startbootstrap-creative-1.0.2/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="startbootstrap-creative-1.0.2/js/jquery.easing.min.js"></script>
    <script src="startbootstrap-creative-1.0.2/js/jquery.fittext.js"></script>
    <script src="startbootstrap-creative-1.0.2/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="startbootstrap-creative-1.0.2/js/creative.js"></script>

</body>

</html>
