<p>1</p>
<img src="/images/A-FindMyPhone/IMG_0255.PNG" width=50%>

<p>2</p>
<img src="/images/A-FindMyPhone/Screen Shot 2017-04-28 at 12.41.49 AM.png" width=50%>

<p>3</p>
<img src="/images/A-FindMyPhone/Screen Shot 2017-04-28 at 12.24.08 AM.png" width=50%>
